@use "./variables" as *;

// Mob Optimized - Other sizes in ./styles.scss

body {
	
	background-image: url("./tictacs.png");
	background-size: 450px;
	background-repeat: no-repeat;
	padding-top: 220px;
	background-position: center 1%;
}

.heading {
	color:$color-tertiary;
    display: flex;
    justify-content: center;
	font-size: 1.8rem;
}

.chooseMode {
	display: flex;
    text-align: center;
	justify-content: center;
	color: $color-five;
	font-size: 1.2rem;
}


.grid {
	width: 100vw;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, auto);
	padding-top: 30px;
	font-size: 4rem;
	text-align: center;
	
}

.grid__box {
    border: 3px solid $color-secondary;
    width: 90px;
    height: 90px;
	background-color: $color-primary;
	opacity: 0.5;
	
}

.grid__box:hover {
	cursor: pointer;
	background-color: $color-secondary;
}

.grid__box--0, .grid__box--1, .grid__box--2 {
	border-top: none;
} 

.grid__box--6, .grid__box--7, .grid__box--8 {
	border-bottom: none;
} 

.grid__box--0, .grid__box--3, .grid__box--6 {
	border-left: none;
} 

.grid__box--2, .grid__box--5, .grid__box--8 {
	border-right: none;
} 

.message {
	font-size: 1.2rem;
	text-align: center;
	color: $color-secondary;
	font-weight: bold;
	padding-top: 50px;
}


.button {
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding-top: 30px;

&__restart {
	border: 2px solid $color-four;
	border-radius: 5%;
    font-size: 1rem;
    padding: 10px 10px;
	background-color: $color-four;
	color: $color-primary;
	

}	

.button__restart:hover {
	animation: shake 0.5s;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

}


