@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-primary: rgb(226, 226, 226); 
    $color-secondary: rgb(30, 133, 76);
    $color-tertiary: rgb(86, 180, 180);
    $color-four: rgb(147, 147, 147);
