@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-primary: cadetblue; 
    $color-secondary: rgb(44, 178, 255);
    $color-tertiary: azure;
