@use "./variables" as *;
@use "./layouts";

// Tablet & Laptop Media Query

@media screen and (min-width: 768px) {

	body {
		background-size: 650px;
	}

	.heading {
		font-size: 3rem;
		padding-top: 80px;
	}

	.grid {
		
		width: 100vw;
		
	}

	.grid__box {
		width: 150px;
		height: 150px;	
	}

	.message {
		font-size: 2rem;
	}

	.button__restart {
		font-size: 2rem;
		padding: 15px 15px;
		
	}
	
	}
    
